@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");
@import "variables";
@import '~bootstrap/scss/bootstrap';

body {
    font-size: .875rem;
}

div#app {
    width: 100%;
}

[role="main"] {
    padding-top: 48px;
    /* Space for fixed navbar */
}

/** Fix the navbar dropdowns when they're on the edge of right-hand side */
#navbarMenu .dropdown-menu {
    left: inherit;
    right: 0;
}

/*
 * Utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
